@charset "UTF-8";

/**********
common - S
**********/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@font-face {
    font-weight: normal; font-family: 'PuradakGentleGothicR'; font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
}

:root{
    font-size: 10px;
    overflow-y: scroll;
    word-break: keep-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
html.hidden{overflow: hidden;}

*, *::before, *::after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{font: 400 1.8rem / 1.5 'Noto Sans KR', Roboto, "돋움", dotum, AppleGothic, sans-serif; letter-spacing: -1px; color: #777;}
a{text-decoration: none; color: inherit;}
img, input, select, textarea{display: block;}
.hide{
    width: 1px; height: 1px;
    margin: -1px; padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0); clip-path: polygon(0 0, 0 0, 0 0);
}
.skip-nav a{
    width: 100%; height: 30px;
    line-height: 30px; text-align: center;
    background-color: #fff;
    position: absolute; top: -100px; z-index: 9000;
}
.skip-nav a:focus{top: 0;}
.inner{
    width: 88%; max-width: 1480px;
    margin: 0 auto;
}
button{all: unset;}
/**********
common - E
**********/

/**********
header - S
**********/
.header{
    width: 100%; height: 100px;
    padding: 0 60px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    position: absolute; left: 0; top: 0; z-index: 8000;
    transition: all .3s;
}
.header .header-inner{
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: 100px;
    color: #fff;
    transition: all .3s;
}
.header .logo a img{transition: all .3s;}
.header.on{
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.header.on .gnb .depth1,
.header.on .util{color: #111;}
.header.on .util .member::after{background-color: #bbb;}
.header.on .util .allmenu-btn::before,
.header.on .util .allmenu-btn::after,
.header.on .util .allmenu-btn span{background-color: #111;}

/* gnb - S */
.gnb::after{content: "";
    width: 100%; height: 0;
    background-color: rgba(255, 255, 255, .95);
    position: absolute; left: 0; top: 100px; z-index: 6000;
    transition: all .3s;
}
.gnb .gnb-list{display: flex;}
.gnb .depth1{position: relative;}
.gnb .depth1 > a{
    display: block;
    padding: 0 35px;
    font-weight: 600; font-size: 1.8rem; line-height: 100px;
    position: relative;
    transition: all .3s;
}
.gnb .depth1 > a::after{content: "";
    display: block;
    width: 100%; height: 3px;
    background-color: #bc955c;
    position: absolute; left: 0; bottom: 0;
    transform: scale(0); transform-origin: center;
    transition: all .3s;
}
.gnb .depth2{
    width: 100%; height: 0;
    padding-top: 25px;
    position: absolute; left: 0; top: 100px; z-index: 7000;
    overflow: hidden;
    transition: all .3s;
}
.gnb .depth2 li a{
    display: block;
    width: 100%;
    font-weight: 500; font-size: 1.6rem; line-height: 40px; text-align: center;
    transition: all .3s;
}
.gnb:hover::after,
.gnb:hover .depth2{height: 255px;}
.gnb:hover .depth2 li a{color: #777;}
.gnb .depth1:hover > a{color: #bc955c;}
.gnb .depth1:hover > a::after{transform: scale(1);}
.gnb .depth1:hover .depth2{background-color: #ffffff;}
.gnb .depth2 li a:hover{color:#bc955c;}
/* gnb - E */

/* util - S */
.util{display: flex; align-items: center; gap: 30px;}
.util .member{display: flex; align-items: center; gap: 15px;}
.util .member::after{content: "";
    display: block;
    width: 1px; height: 14px;
    background-color: rgba(255, 255, 255, .5);
}
.util .member li{transition: all .3s;}
.util .member li:last-child{order: 1;}
.util .member li a{font-weight: 500; font-size: 1.4rem;}
.util .global span{
    display: block;
    font-size: 2.8rem;
    transition: all .3s;
}
.util .allmenu .allmenu-btn{
    display: block;
    width: 32px; height: 20px;
    cursor: pointer;
}
.util .allmenu .allmenu-btn::before,
.util .allmenu .allmenu-btn::after{content: "";
    display: block;
    width: 100%; height: 2px;
    background-color: #fff;
    transition: all .3s;
}
.util .allmenu .allmenu-btn::after{transform: scaleX(.8); transform-origin: right;}
.util .allmenu .allmenu-btn span{
    display: block;
    width: 100%; height: 2px;
    margin: 7px 0;
    background-color: #fff;
    transition: all .3s;
}
.util .allmenu .allmenu-container{
    width: 100%; height: 100vh;
    color: #555;
    background-color: #fff;
    position: fixed; left: 0; top: 0; z-index: 10000;
    transform: translateX(100%); transform-origin: right;
    transition: all .5s;
}
.util .allmenu .allmenu-container.on{
    overflow-y: auto;
    transform: translateX(0);
}
.util .allmenu .allmenu-logo{position: absolute; left: 60px; top: 28px;}
.util .allmenu .allmenu-logo a img{transition: all .3s;}
.util .allmenu .inner{
    width: 100%; max-width: 1420px;
    margin-top: 100px; padding: 0 60px;
}
.util .allmenu .allmenu-util{display: none;}
.util .allmenu .allmenu-list{display: flex;}
.util .allmenu .allmenu-depth1{
    display: flex; flex-direction: column; align-items: center; gap: 35px;
    width: 20%;
    margin-top: 40px; padding: 0 30px;
    line-height: 40px; text-align: center;
    transition: all .2s;
}
.util .allmenu .allmenu-depth1 + .allmenu-depth1{border-left: 1px solid #bc955c;}
.util .allmenu .allmenu-depth1 .allmenu-depth1-header{display: flex; justify-content: space-between; align-items: center;}
.util .allmenu .allmenu-depth1 .allmenu-depth1-header a{
    display: block;
    font-weight: 700; font-size: 2.8rem; color: #111;
    transition: all .2s;
}
.util .allmenu .allmenu-depth1 .allmenu-expand-btn{
    display: none; align-self: center;
    width: 32px; height: 32px;
    transition: all .2s;
}
.util .allmenu .allmenu-depth1 .allmenu-expand-btn span{
    font-weight: 600; font-size: 3.2rem; color: #333;
    transition: all .2s;
}
.util .allmenu .allmenu-depth2{width: 100%;}
.util .allmenu .allmenu-depth2 li a{
    display: block;
    font-weight: 500; font-size: 1.8rem; color: #555;
    transition: all .2s;
}
.util .allmenu .allmenu-close-btn{
    width: 40px; height: 40px;
    position: absolute; right: 60px; top: 30px;
    cursor: pointer;
}
.util .allmenu .allmenu-close-btn span{
    font-size: 40px; color: #111;
    transition: all .2s;
}
.util .member li:hover,
.util .global:hover{color: #bc955c;}
.util .allmenu .allmenu-btn:hover::before,
.util .allmenu .allmenu-btn:hover::after,
.util .allmenu .allmenu-btn:hover span{background-color: #bc955c;}
.util .allmenu .allmenu-btn:hover::after{transform: scaleX(1);}
.util .allmenu .allmenu-depth1:hover .allmenu-depth1-header a,
.util .allmenu .allmenu-depth2 li a:hover,
.util .allmenu .allmenu-close-btn:hover span{color: #bc955c;}
/* util - E */
/**********
header - E
**********/

/**********
main - E
***********/
/* quick - S */
.quick{
    display: flex; flex-direction: column; align-items: center; gap: 10px;
    position: fixed; right: 25px; bottom: 25px; z-index: 7000;
}
.quick a{
    display: flex; justify-content: center; align-items: center;
    width: 70px; height: 70px;
    border: 1px solid #bc955c; border-radius: 100%;
    font-weight: 500; font-size: 1.6rem; line-height: 20px; color: #fff;
    background-color: rgba(0, 0, 0, .7);
    transition: all .3s;
}
.quick .quick-top{
    display: flex; justify-content: center; align-items: center;
    width: 45px; height: 45px;
    border: 1px solid #bc955c; border-radius: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}
.quick .quick-top span{font-size: 3rem; color: #fff;}
.quick a:hover, .quick .quick-top:hover{background-color: #bc955c;}
.quick .quick-top:hover span{animation: updown 1.5s infinite;}
/* quick - E */
/**********
main - E
***********/

/**********
footer - S
***********/
.footer{
    padding: 50px 60px;
    background-color: #221e1f;
}
.footer .footer-inner{
    display: flex; gap: 80px;
    font-size: 1.6rem; line-height: 30px; color: #777; 
    position: relative;
}
.footer .f-logo a img{
    width: 200px;
    transition: all .3s;
}
.footer .f-container{display: flex; flex-direction: column; gap: 25px;}
.footer .f-menu{
    display: flex; gap: 30px;
    font-weight: 500; color: #999;
    transition: all .3s;
}
.footer .f-sns{
    display: flex; gap: 10px;
    position: absolute; right: 0; top: 0;
}
.footer .f-info{
    display: flex; flex-wrap: wrap;
    width: 700px;
    transition: all .3s;
}
.footer .f-info li:nth-child(2),
.footer .f-info li:nth-child(n+4):nth-child(-n+6){margin-right: 25px;}
.footer .f-info li:nth-child(1){width: 100%;}
.footer .f-info li:nth-child(3){width: 70%;}
.footer .f-info li em{
    margin-right: 10px;
    font-weight: 500; color: #999;
}
.footer .f-copy{transition: all .3s;}
/**********
footer - E
***********/



/********************
max-width: 1420px
*********************/
@media all and ( max-width: 1420px ){
    /**********
    header - S
    **********/
    .gnb .depth1 > a{padding: 0 25px;}
    /**********
    header - E
    **********/
}


/********************
max-width: 1280px
*********************/
@media all and ( max-width: 1280px ){
    /**********
    common - S
    **********/
    .inner{max-width: 1080px;}
    /**********
    common - E
    **********/

    /**********
    header - S
    **********/
    .header{padding: 0 40px;}
    .gnb{display: none;}

    /* util - S */
    .util .allmenu .allmenu-logo{left: 40px;}
    .util .allmenu .inner{
        max-width: 1080px;
        padding: 0 40px;
    }
    .util .allmenu .allmenu-list{flex-direction: column;}
    .util .allmenu .allmenu-depth1{
        flex-direction: row; align-items: flex-start; gap: 50px;
        width: 100%;
        margin-top: 0; padding: 35px;
        line-height: 50px; text-align: left;
    }
    .util .allmenu .allmenu-depth1 + .allmenu-depth1{border-top: 1px solid #bc955c; border-left: none;}
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header{width: calc( ( 100% - 50px ) * 0.25 );}
    .util .allmenu .allmenu-depth2{
        display: flex; flex-wrap: wrap;
        width: calc( ( 100% - 50px ) * 0.75 );
    }
    .util .allmenu .allmenu-depth2 li{width: calc( 100% / 3 ); height: 50px;}
    .util .allmenu .allmenu-depth2 li a{font-size: 1.7rem;}
    .util .allmenu .allmenu-close-btn{right: 40px;}
    /* util - E */
    /**********
    header - E
    **********/

    /**********
    footer - S
    ***********/
    .footer{padding: 50px 40px;}
    .footer .footer-inner{
        gap: 50px;
        font-size: 1.4rem; line-height: 26px;
    }
    .footer .f-logo a img{width: 160px;}
    .footer .f-menu{font-size: 1.5rem;}
    .footer .f-sns{
        order: -1;
        position: relative;
    }
    .footer .f-info{width: 400px;}
    .footer .f-info li:nth-child(5){margin-right: 0;}
    /**********
    footer - E
    ***********/
}

/********************
max-width: 1024px
*********************/
@media all and ( max-width: 1024px ){
    /**********
    common - S
    **********/
    .inner{width: 90%;}
    /**********
    common - E
    **********/
}


/********************
max-width: 768px
*********************/
@media all and ( max-width: 768px ){
    /**********
    header - S
    **********/
    .header,
    .header .header-inner{height: 80px;}
    .header .logo a img{height: 40px;}

    /* util - S */
    .util .allmenu .allmenu-logo{top: 20px;}
    .util .allmenu .allmenu-logo a img{height: 40px;}
    .util .allmenu .inner{margin-top: 80px;}
    .util .allmenu .allmenu-depth1{
        padding: 20px 15px;
        line-height: 45px;
    }
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header{width: calc( ( 100% - 50px ) * 0.28 );}
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header a{font-size: 2.4rem;}
    .util .allmenu .allmenu-depth2{width: calc( ( 100% - 50px ) * 0.72 );}
    .util .allmenu .allmenu-depth2 li{height: 45px;}
    .util .allmenu .allmenu-depth2 li a{font-size: 1.6rem;}
    .util .allmenu .allmenu-close-btn{top: 20px;}
    /* util - E */
    /**********
    header - E
    **********/

    /**********
    main - S
    **********/
    /* quick - S */
    .quick{right: 20px; bottom: 20px;}
    .quick a{
        width: 65px; height: 65px;
        font-size: 1.5rem; line-height: 19px;
    }
    .quick .quick-top{width: 36px; height: 36px;}
    .quick .quick-top span{font-size: 2.4rem;}
    /* quick - E */
    /**********
    main - E
    **********/

    /**********
    footer - S
    ***********/
    .footer .footer-inner{flex-direction: column;}
    .footer .f-sns{position: absolute; right: 0; top: 0;}
    .footer .f-info{width: 100%;}
    /**********
    footer - E
    ***********/
}


/********************
max-width: 640px
*********************/
@media all and ( max-width: 640px ){
    /**********
    common - S
    **********/
    body{font-size: 1.6rem;}
    .skip-nav a{font-size: 1.6rem;}
    /**********
    common - E
    **********/

    /**********
    header - S
    **********/
    .header{padding: 0 20px;}

    /* util - S */
    .util .member{display: none;}
    .util .global{display: none;}
    .util .allmenu .allmenu-logo{left: 20px; top: 22px;}
    .util .allmenu .allmenu-logo a img{height: 36px;}
    .util .allmenu .inner{
        max-width: 560px;
        padding: 0 20px;
    }
    .util .allmenu .allmenu-util{
        display: flex; justify-content: center; align-items: center; gap: 50px;
        padding: 10px 15px;
    }
    .util .allmenu .allmenu-util .allmenu-member{
        display: flex; align-items: center; gap: 15px;
        font-weight: 500; font-size: 1.4rem;
    }
    .util .allmenu .allmenu-util .allmenu-member::after{content: "";
        display: block;
        width: 1px; height: 14px;
        background-color: #bbb;
    }
    .util .allmenu .allmenu-util .allmenu-member li:last-child{order: 1;}
    .util .allmenu .allmenu-util .allmenu-member li a{display: block;}
    .util .allmenu .allmenu-util .allmenu-global{height: 24px;}
    .util .allmenu .allmenu-depth1{
        flex-direction: column; gap: 0;
        line-height: 40px;
        cursor: pointer;
    }
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header{width: 100%;}
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header a{font-size: 2.2rem;}
    .util .allmenu .allmenu-depth1 .allmenu-expand-btn{display: block;}
    .util .allmenu .allmenu-depth2{
        width: 100%; max-height: 0;
        overflow: hidden;
        transition: all .3s;
    }
    .util .allmenu .allmenu-depth2 li{
        width: 100%; height: 40px;
        text-indent: 5px;
    }
    .util .allmenu .allmenu-close-btn{right: 20px;}
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header.on .allmenu-expand-btn{transform: rotate(180deg);}
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header.on + .allmenu-depth2{margin-top: 15px;}
    .util .allmenu .allmenu-util .allmenu-member li:hover,
    .util .allmenu .allmenu-util .allmenu-global:hover{color: #bc955c;}
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header:hover a,
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header.on a,
    .util .allmenu .allmenu-depth1 .allmenu-depth1-header:hover .allmenu-expand-btn span{color: #bc955c;}
    /* util - E */
    /**********
    header - E
    **********/

    /**********
    main - S
    ***********/
    /* quick - S */
    .quick a{
        width: 60px; height: 60px;
        font-size: 1.4rem; line-height: 18px;
    }
    /* quick - E */
    /**********
    main - E
    ***********/

    /**********
    footer - S
    ***********/
    .footer{padding: 40px 20px;}
    .footer .footer-inner{
        gap: 40px;
        font-size: 1.3rem; line-height: 24px;
    }
    .footer .f-logo a img{width: 140px;}
    .footer .f-menu{
        gap: 25px;
        font-size: 1.4rem;
    }
    .footer .f-sns{gap: 8px;}
    .footer .f-info li:nth-child(n+4):nth-child(-n+6){margin-right: 20px;}
    .footer .f-info li address{display: flex;}
    .footer .f-info li em{margin-right: 8px;}
    /**********
    footer - E
    ***********/
}


/********************
max-width: 480px
*********************/
@media all and ( max-width: 480px ){
    /**********
    header - S
    **********/
    .header{height: 60px;}
    .header .header-inner{height: 60px;}
    .header .logo a img{height: 30px;}

    /* util - S */
    .util .allmenu .allmenu-logo a img{height: 30px;}
    .util .allmenu .allmenu-logo{top: 15px;}
    .util .allmenu .inner{margin-top: 60px;}
    .util .allmenu .allmenu-close-btn{top: 10px;}
    /* util - E */
    /**********
    header - E
    **********/

    /**********
    main - S
    ***********/
    .quick{right: 15px;}
    /**********
    main - E
    ***********/
}